# eo_acq.cfg
#
# Configuration file for TS8 acquisition scripts
#
# Contains parameters and 'commands' for acquiring data for LSST CCD
# electro-optical testing. CONSTANTS are represented by all capital
# lettering. 'commands' are lower case.

###############################################################################
# Preflight acquisition
# wavelength (nm), exposure time (s)
preflight 0450 3
preflight 0450 3
preflight 0450 3
preflight 0823 3

###############################################################################
# Readiness acquisition
# image_type, exposure time (s)
ready FE55 10
ready FLAT 1
ready FLAT 4

###############################################################################
# Fe55
# Fe55 x-ray exposures are acquired in sets of a given exposure time and
# image count. Bias images are acquired prior to acquiring any fe55 images.
# The number of bias frames is set by FE55_BCOUNT
# For each command, dark images of the appropriate integration time are
# also acquired. The number of dark frames is set by FE55_DCOUNT.
#
FE55_BCOUNT     2     # number of bias frames per complete fe55 set
FE55_DCOUNT     0     # number of dark frames per fe55 'command'
fe55    4.0   2       # exposure time and image count for an fe55 data set

###############################################################################
# Dark
# Dark integration images are acquired in sets of a given exposure time and
# image count. Bias images are acquired prior to acquiring any dark images
#
# A constant named DARK_BCOUNT is used to specifiy the number of bias images
# to acquire as part of the data set prior to acquiring the dark images.
#
# NOTE: ANALYSIS REQUIRES EXPTIME TO BE EQUAL
DARK_BCOUNT    5    # number of bias frames per dark set
DARK_DELAY     0    # number of seconds betwen darks in a set
dark   500.0   5    # integration time and image count for dark set

###############################################################################
# superflat
# 'superflat' images are sets of identical flat field exposures that can
# be medianed together to produce a flat field image with reduced variation
# due to poisson statistics. They are useful in calculating CTE and PRNU and
# for finding dark defects.
#
# A constant named SFLAT_BCOUNT is used to specifiy the number of bias images
# to acquire as part of the data set prior to acquiring the flat field images.
#
# NOTE: ANALYSIS REQUIRES SOME TAKEN AT 500nm
SFLAT_BCOUNT   0    # number of bias frames to take with a superflat set
SFLAT_HILIM   120.0  # maximum seconds for a superflat exposure
SFLAT_LOLIM     0.1  # minimum seconds for a superflat exposure

sflat  500  1000   25   # wavelength, signal(e-), count
sflat  500  50000  25   # wavelength, signal(e-), count

###############################################################################
# Lambda
# Acquire images for use in QE measurement.
# Images are acquired as 'sets' of images that include a bias frame and
# N exposures of a given duration at a specified wavelength.
# The lambda 'command' has the format of:
#
# lambda   wavelength  signal
# where signal is desired image signal in e-/pixel
#
LAMBDA_IMCOUNT   1    # number of images at each wavelength
LAMBDA_BCOUNT    5    # total number of bias frames
LAMBDA_HILIM   120.0  # maximum seconds for a QE exposure
LAMBDA_LOLIM     0.1  # minimum seconds for a QE exposure

#lambda   0320   20000
#lambda   0330   20000
#lambda   0340   20000
lambda   0350   20000
#lambda   0360   20000
#lambda   0370   20000
lambda   0380   20000
#lambda   0390   20000
#lambda   0400   20000
lambda   0410   20000
#lambda   0420   20000
#lambda   0430   20000
#lambda   0440   20000
lambda   0450   20000
#lambda   0460   20000
#lambda   0470   20000
#lambda   0480   20000
#lambda   0490   20000
lambda   0500   20000
#lambda   0510   20000
#lambda   0520   20000
#lambda   0530   20000
#lambda   0540   20000
#lambda   0550   20000
lambda   0560   20000
#lambda   0570   20000
#lambda   0580   20000
#lambda   0590   20000
#lambda   0600   20000
#lambda   0610   20000
lambda   0620   20000
#lambda   0630   20000
#lambda   0640   20000
#lambda   0650   20000
#lambda   0660   20000
#lambda   0670   20000
lambda   0680   20000
#lambda   0690   20000
#lambda   0700   20000
#lambda   0710   20000
#lambda   0720   20000
#lambda   0730   20000
#lambda   0740   20000
lambda   0750   20000
#lambda   0760   20000
#lambda   0770   20000
#lambda   0780   20000
#lambda   0790   20000
lambda   0800   20000
#lambda   0810   20000
#lambda   0820   20000
#lambda   0830   20000
#lambda   0840   20000
#lambda   0850   20000
lambda   0870   20000
#lambda   0880   20000
#lambda   0890   20000
#lambda   0900   20000
#lambda   0910   20000
#lambda   0920   20000
#lambda   0930   20000
lambda   0940   20000
#lambda   0950   20000
#lambda   0960   20000
#lambda   0970   20000
#lambda   0980   20000
#lambda   0990   20000
lambda   1000   20000
#lambda   1010   20000
#lambda   1020   20000
#lambda   1030   20000
#lambda   1040   20000
lambda   1050   20000
#lambda   1060   20000
#lambda   1070   20000
#lambda   1080   20000
#lambda   1090   20000
lambda   1100   20000

###############################################################################
# Flat
# Acquire flat image pairs for linearity and gain measurement.
# For each 'flat' command a pair of flat field images are acquired
#
# the format for a flat command is
# flat   signal
# where signal is the desired acquired signal level in e-/pixel
#
# FLAT_WL is used to determine what wavelength will be used for illumination

FLAT_BCOUNT   1      # number of bias frames per flat set
FLAT_WL     675      # wavelength to use for the flats
FLAT_HILIM  240.0    # maximum seconds for a flat field exposure
FLAT_LOLIM  0.025    # minimum seconds for a flat field exposure
#FLAT_HILIM  1.0      # maximum seconds for a flat field exposure
#FLAT_LOLIM  1.0      # minimum seconds for a flat field exposure

flat      100       # signal level desired, in e-/pixel
#flat      200
#flat      300
#flat      400
flat      500
#flat      600
#flat      700
#flat      800
#flat      900
flat     1000
#flat     1100
#flat     1200
#flat     1300
#flat     1400
flat     1500
#flat     2000
#flat     2500
flat     3000
#flat     3500
#flat     4000
#flat     4500
flat     5000
#flat     7500
flat    10000
#flat    12000
#flat    15000
flat    20000
#flat    25000
#flat    30000
#flat    35000
flat    40000
#flat    45000
#flat    50000
#flat    55000
flat    60000
#flat    65000
#flat    70000
#flat    75000
flat    80000
#flat    85000
#flat    86000
#flat    87000
#flat    88000
#flat    89000
flat    90000
#flat    91000
#flat    92000
#flat    93000
#flat    94000
#flat    95000
flat   100000
#flat   105000
#flat   110000
#flat   115000
#flat   120000
flat   125000
#flat   130000
#flat   135000
#flat   140000
#flat   145000
flat   150000
#flat   155000
#flat   160000
#flat   165000
#flat   170000
#flat   180000
#flat   190000
flat   200000
#flat   210000
#flat   220000
#flat   230000

################################################################################
# Pocket Pumping
# pocket pumping exposures
# format:  trap  exptime  shifts  expcount
#     exptime  : exposure time for pocket pumped exposures
#     expcount : number of images of each type to acquire
#     shifts   : number of shifts to do per exposure

PPUMP_WL      550          # wavelength to use for PPUMP images
PPUMP_BCOUNT  25           # number of bias frames per set

trap   200   10  1000
